html, body {
  display: flex;
  justify-content: center;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul {
  padding-inline-start: 0;
}
